<footer class="footer">
    <div class="footer-content"> 
      <div class="contact-info" style="margin-left: 150px;"> <!-- Adres bilgileri için div -->
        <h1 style="color: #5468dc; font-size: 20px;">Bize Ulaşın!</h1>
        <address style="margin-bottom: 20px;">
          <b>Adres:</b><br>
          Merkezefendi mah.,<br>
          Sabri Ülker sk. No:37<br>
          <b>Telefon:</b> 551-189-3221
        </address>
        <div class="social-icons" style="margin-top: 15px;">
          <a href="#" style="margin-right: 10px;"><i class="fa-brands fa-square-facebook fa-2xl fa-beat-fade"
              style="color: #0f0f4b;"></i></a>
          <a href="#" style="margin-right: 10px;"><i class="fa-brands fa-square-x-twitter fa-2xl fa-beat-fade"
              style="color: #141415;"></i></a>
          <a href="#" style="margin-right: 10px;"><i class="fa-brands fa-instagram fa-2xl fa-beat-fade"
              style="color: #e63da8;"></i></a>
        </div>
      </div>
    </div>
  </footer>