<section id="navbar">
    <div id="logo">KOZMETİK HARİTASI</div>
    <nav>
        <a href="/"><i class="fa-solid fa-house ikon" style="color: #da4e86;"></i>Anasayfa</a>
        <a href="icerikler" target="_blank"><i class="fa-solid fa-flask ikon" style="color:  #4ad9a9;"></i> İçerikler</a>
        <a href="guneskremleri"><i class="fa-regular fa-sun fa-lg" style="color: #fcf58b;"></i> Güneş kremi</a>
        <a href="nemlendirici"><i class="fa-solid fa-droplet ikon" style="color: #a8c8ff;"></i> Nemlendirici</a>                    
        <a href="serum"><i class="fa-solid fa-eye-dropper" style="color: #ffa033;"></i> Serum</a>
        <a href="#"id="hakkimizda-link"> <i class="fa-solid fa-circle-info fa-lg ikon" style="color: #c9a5ee;"></i> Hakkımızda</a>
        <a href="/form" > <i class="fa-solid fa-phone ikon" style="color: #ff4271;"></i> İletişim</a>
    </nav>
</section>