<!DOCTYPE html>
<html lang="tr">

<%- include("partials/_header") %>
<body>

  <%- include("partials/_navbar") %>


  <!--Dikey Navbar-->
  <div class="row">
    <div class="col-md-3">
      <div class="navbar-vertical">
        <nav class="vertical-nav">
          <a href="#" onclick="showContent('alkol')">Alkol grupları</a>
          <a href="#" onclick="showContent('vitamin')">Vitaminler</a>
          <a href="#" onclick="showContent('asit')">Asitler</a>
        </nav>
      </div>
    </div>
    <div class="col-md-9">
      <div class="content-area" id="dynamic-content">
        
      </div>
    </div>
  </div>

    
    <!--Footer-->
    <%- include("partials/_footer") %>

</body>

</html>