<!DOCTYPE html>
<html lang="tr">

<%- include("partials/_header") %>

  <body>

    <%- include("partials/_navbar") %>

      <section id="anasayfa">

        <a href="https://www.ofisimo.com/blogdetay-css-font-weight-ozellikleri-ve-kullanimi-253nemlendirici">
          <div id="text">
            <h1> Sağlığınız: önceliğimiz!</h1>
          </div>
        </a>
      </section>


      <!--Açıklama kartları-->
      <div class="tech-container">
        <div class="tech-item">
          <img src="img/guneskremi/larocheG.webp" alt="C Programming Language">
          <div class="tech-info">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, consequatur! Officiis aliquid illum beatae
              molestias vel animi officia optio quaerat! Quisquam magni ut error in natus mollitia harum voluptatibus
              porro.
            </p>
            <a href="guneskremleri" class="button-link" target="_blank">Göz At!

            </a>
          </div>
        </div>

        <div class="tech-item">
          <img src="img/nemlendirici/creamco1.webp" alt="Fortran Programming Language">
          <div class="tech-info">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, voluptas fugit dignissimos dolorum
              blanditiis explicabo sed neque tempore quidem veniam quam sunt harum doloremque maxime nulla magnam magni,
              expedita quit bir.
            </p>
            <a href="nemlendirici" class="button-link" target="_blank">Göz At!

            </a>
          </div>
        </div>

        <div class="tech-item">
          <img src="img/serum/luvitC.PNG" alt="Java Programming Language">
          <div class="tech-info">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis necessitatibus tempora tenetur
              recusandae illum quos, accusamus itaque, quibusdam distinctio mollitia facilis similique minima, corporis
              ratione alias non dolore rem quisquam.
            </p>
            <a href="serum" class="button-link" target="_blank">Göz At!</a>
          </div>
        </div>
      </div>


      <!--Footer-->
      <%- include("partials/_footer") %>
  </body>

</html>