<!DOCTYPE html>
<html lang="tr">

<%- include("partials/_header") %>

<body>

   <%- include("partials/_navbar") %>

    <div id="main-content">
       
        <div class="product-card">
            <img src="img/nemlendirici/biodermaN.PNG" alt="Ürün Resmi 1">
            <h3>Bioderma Nemlendirici Krem</h3>
            <p>Açıklama 1: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="https://www.trendyol.com/bioderma/atoderm-cream-ultra-normal-ve-kuru-ciltler-icin-nemlendirici-yuz-ve-vucut-bakim-kremi-200-ml-p-1068906" class="product_button" target="_blank">Ürüne Git!</a>
        </div>

        
        <div class="product-card">
            <img src="img/nemlendirici/cerave.webp" alt="Ürün Resmi 2">
            <h3>Cerave Nemlendirici Krem</h3>
            <p>Açıklama 2: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="https://www.cerave.com.tr/urunlerimiz/nemlendiriciler/nemlendirici-yuz-kremi" class="product_button" target="_blank">Ürüne Git!</a>
        </div>

       
        <div class="product-card">
            <img src="img/nemlendirici/creamco1.webp" alt="Ürün Resmi 3">
            <h3>Cream Co Nemlendirici Krem</h3>
            <p>Açıklama 3: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="https://creamco.com.tr/moisturizer-50-ml" class="product_button" target="_blank">Ürüne Git!</a>
        </div>

        
        <div class="product-card">
            <img src="img/nemlendirici/creamco2.webp" alt="Ürün Resmi 4">
            <h3>Cream Co Nemlendirici Krem</h3>
            <p>Açıklama 4: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="https://creamco.com.tr/cloud-moisturizer" class="product_button" target="_blank">Ürüne Git!</a>
        </div>

       
        <div class="product-card">
            <img src="img/nemlendirici/larocheN.webp" alt="Ürün Resmi 5">
            <h3>La Roche-Posay Nemlendirici Krem</h3>
            <p>Açıklama 5: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="https://www.laroche-posay.com.tr/toleriane-sensitive-nemlendirici-krem" class="product_button" target="_blank">Ürüne Git!</a>
        </div>

        
        <div class="product-card">
            <img src="img/nemlendirici/marudermN.PNG" alt="Ürün Resmi 6">
            <h3>Maruderm Nemlendirici Krem</h3>
            <p>Açıklama 6: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="https://www.maruderm.com/maruderm-hyaluronik-asit-nemlendirici-yuz-ve-vucut-cilt-bakim-kremi-200-ml" class="product_button" target="_blank">Ürüne Git!</a>
        </div>

       
        <div class="product-card">
            <img src="img/nemlendirici/purestN.PNG" alt="Ürün Resmi 7">
            <h3>The Purest Nemlendirici Kremi</h3>
            <p>Açıklama 7: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="https://thepurestsolutions.com/daily-moisturizing-cream-24h" class="product_button" target="_blank">Ürüne Git!</a>
        </div>

        
        <div class="product-card">
            <img src="img/nemlendirici/neostrataN.PNG" alt="Ürün Resmi 8">
            <h3>Neostrata Nemlendirici Kremi</h3>
            <p>Açıklama 8: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="https://www.neostrata.com.tr/urunle/seriler/skin-active/skin-active-matriks-destekleyici-nemlendirici-spf30" class="product_button" target="_blank">Ürüne Git!</a>
        </div>

        
        <div class="product-card">
            <img src="img/nemlendirici/krijenN.PNG" alt="Ürün Resmi 9">
            <h3>Krijen Nemlendirici Kremi</h3>
            <p>Açıklama 9: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="https://www.krijen.com/products/kuru-cilt-yuz-kremi?psafe_param=1&gad_source=1&gclid=CjwKCAiAyp-sBhBSEiwAWWzTngpCQDV0EAKtO1u909mbpX0PfCwMYyDMhTMYsI8pVEF4nBGcJOB_VxoCSnsQAvD_BwE" class="product_button" target="_blank">Ürüne Git!</a>
        </div>
    </div>


    <!--Footer-->
    <%- include("partials/_footer") %>


</body>

</html>